{% extends 'base.html' %}

{% block title %} Create Product {% endblock %}

{% block content %}
    <h1>Welcome to the create product page</h1>

    {% if message %}
        <h2 style="color: green;">{{ message }}</h2>
    {% endif %}

    <form method="post" action=".">
        {% csrf_token %}
<!--
        <label for="nom">Nom du produit :</label><br>
        <input type="text" id="nom" name="nom" placeholder="Nom du produit" required><br><br>

        <label for="prix">Prix du produit :</label><br>
        <input type="number" id="prix" name="prix" placeholder="Prix du produit" required><br><br>

        <label for="description">Description :</label><br>
        <textarea id="description" name="description" cols="30" rows="10" placeholder="Description du produit" required></textarea><br><br>
 -->
{{form.as_p}}
        <input type="submit" value="Envoyer">
    </form>
{% endblock %}

```