{% extends "base.html" %}

{% block content %}
{% include 'navbar.html' %}
{% block title %}Page de la liste des produits{% endblock title %}

<h2> Page de la liste des produits</h2>
<ul class="product-list">
    <ol>
    {% for produit in object_list %}
    <li>
        <strong>{{ produit.nom }}</strong> - {{ produit.prix }} XAF
        <p>{{ produit.description }}</p>
        <a href="{% url 'product_detail' produit.id %}" class="btn btn-primary">Voir</a>
        <a href="{% url 'product_delete' produit.id %}" class="btn btn-danger">Supprimer</a>
    </li>
    {% endfor %}
        </ol>
</ul>
{% endblock %}